<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= song.title %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Artist</label>
        <select name="artist" id="artist-select">
        <% artists.forEach(artist => { %>
            <% if (artist.id === song.artist) { %>
                <option selected label="<%= artist.name %>" value="<%= artist.id %>">
            <% } else { %>
                <option label="<%= artist.name %>" value="<%= artist.id %>">
            <% } %>
        <% }) %>
        </select>
    </div>
    
    <div class="form-item">
        <label>Album</label>
        <select name="album" id="album-select">
        <% albums.forEach(album => { %>
            <option label="<%= album.title %>" value="<%= album.id %>">
        <% }) %>
        </select>
    </div>
</div>
<script>
    var artistSelect = document.getElementById('artist-select')
    var albumSelect = document.getElementById('album-select')

    artistSelect.addEventListener('change', myScript)

    function myScript() {
        console.log('you changed the artist select')
        console.log(artistSelect.value)
    }
</script>
