<% let trackCounter = 0 %>
<% let commentCounter = 0 %>
<h2 class="page-header"><%= album.title %></h2>
<div class="album-details">
    <div>
        <img class="album-cover-showpage" src="<%= album.coverImagePath %>">
        <div class="album-details-btn-grid">
            <a class="btn btn-primary" href="/albums/<%= album.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm', { url: `/albums/${album.id}` }) %>
            <a class="btn btn-primary album-details-artist-button" href="/artists/<%= album.artist.id %>">View Artist</a>
        </div>
    </div>

    <div class="album-details-grid">
        <div class="album-details-label">Artist:</div>
        <div><%= album.artist.name %></div>
        <div class="album-details-label">Release Date:</div>
        <div><%= album.releaseDate.toDateString() %></div>
        <div class="album-details-label">Description:</div>
        <div><%= album.description %> </div>
        <div class="album-details-label">Tracks:</div>
        <div>
        <% album.tracks.forEach(track => { %>
            <% trackCounter = trackCounter + 1 %>
            <span><%= trackCounter %></span>
            <span><%= track %></span>
            <br>
            <% }) %>
        </div>
    </div>
</div>
<div class="comments-section">
    <% comments.forEach(comment => { %>
        <% if (comment.album == album.id) { %>
            <% commentCounter = commentCounter + 1 %>
        <% } %>
    <% }) %>
    <h2 class="page-header"><%= commentCounter %> Comments</h2>

    <form action="/albums/<%= album.id %>" method="POST">
        <div class="form-row">
            <div class="form-item">
                <input type="text" name="comment"  placeholder="add a comment...">
            </div>
        </div>
        <div class="form-row form-row-end btn-row">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    </div>
    <div class="comment-data">
        <% comments.forEach(comment => { %>
            <% if (comment.album == album.id) { %>
            <span class="comment-metadata"><%= comment.user.username %></span>
            <span class="comment-metadata"><%= comment.createdAt.toDateString() %></span>
            <p class="comment-content"><%= comment.commentContent %></p>
            <% } %>
        <% }) %>
    </div>
</div>